---
const date = new Date()
const year = date.getFullYear()
---
<footer class="text-center py-8 mt-24">
  <p class="text-sm mb-2">A demo site for the article <a class="underline hover:no-underline" href="https://ttntm.me/blog/building-portfolio-with-astro-and-vue/">Building a Filterable Portfolio with Astro and Vue</a>.</p>
  <p class="text-xs m-0">&copy; ttntm {year}</p>
</footer>
