---
import siteData from '@/data/site.json'

interface Props {
  title?: string
}

const { title } = Astro.props
const titleDisplay = title ? title : siteData.title
---
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content={siteData.description}>
<meta name="author" content={siteData.author}>
<meta name="robots" content="index,follow">
<meta name="theme-color" content="#ffffff">
<title>{titleDisplay}</title>
<base href="./">
