---
import siteData from '@/data/site.json'
import Head from '@/components/Head.astro'
import Footer from '@/components/Footer.astro'
import '@/styles/global.css'

interface Props {
  title?: string
}

const { title } = Astro.props
---
<html lang={siteData.language} class="h-full">
  <Head title={`${title || siteData.title} | ${siteData.author}`} />
  <body id="top">
    <slot name="header" />
    <main class="flex-grow px-6 xl:px-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>
