---
import Base from '@/layouts/Base.astro'

interface Props {
  frontmatter?: GenObj
  title?: string
}

const { frontmatter, title } = Astro.props
const titleDisplay = frontmatter?.title || title
---
<Base title={titleDisplay}>
  <section class="container max-w-screen-md mt-12 mx-auto">
    <div class="prose min-w-full">
      <slot />
    </div>
  </section>
</Base>
